{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<button class="ml-8 register bg-[#D9272E] text-white px-6 py-3  mr-8 rounded-full w-[200px] "><a href="{% url 'question_list' quiz.id %}">กลับหน้า list คำถาม</a></button>
<div class="mx-20 mt-10 grid place-items-center">
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6 grid place-items-center w-[90%]" id="questionContainer">
        <label class="block text-gray-700 font-semibold mr-2 w-full text-center mb-10">(Choice Answer)</label>
        <div class="bg-white rounded-lg p-6 w-[75%] mb-10" id="question_form">

            <form method="post" action="{% url 'add_choice_question' quiz.id %}" id="question-form">
                {% csrf_token %}
                <div class="mb-4 flex justify-left">
                    <label class="block text-gray-700 text-2xl mr-2 w-[20%] text-center">Question</label>
                    {{ questionform.question_name }}
                </div>

                <div class="mb-4 flex justify-left">
                    <label class="block text-gray-700 font-semibold mr-2 w-[20%] text-center">Point</label>
                    {{ questionform.point }}
                    <select style="display:none;" name="question_type" required="" id="id_question_type">
                        <option value="Choice" selected>Choice</option>
                        <option value="Text">Text</option>
                      
                      </select>
                </div>

                <div class="mb-4 flex justify-left">
                    <label class="block text-gray-700 font-semibold mr-2 w-[20%] text-center">Answer Choices</label>
                    <div id="choice_area">
                        {{ choiceform.management_form }}
                        {% for form in choiceform %}
                        <div class="space-x-5 col-span-6 mb-4 flex justify-left" id="formset-form">
                            {{ form.choice_name }}
                            {{ form.is_correct }}
                        </div>
                        {% endfor %}
                        
                        <a id="addChoice" style="text-decoration: underline; color: blue; cursor: pointer;">+ Choice</a>
                    </div>
                </div>
                {{ questionform.errors }}
            </div>
            <div class="mb-4 flex justify-center w-full">
                <button class="grid place-items-center bg-red-500 w-[5%] rounded-full" style="color: white;"type="submit">Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
const clearBtn = `<button class="bg-red-500 rounded-full text-white font-normal text-base text-center w-[100px] place-self-center" style="cursor: pointer; background-color: rgb(233, 111, 111); color: white;" onclick="removeForm(this)">Clear</button>`;
let counter = 0;
document.querySelectorAll('#formset-form').forEach((div) => {
    if (counter > 1) {
        div.innerHTML += clearBtn;
    }
    counter += 1;
});

    document.getElementById('addChoice').addEventListener('click', function() {
        var totalForms = document.getElementById('id_form-TOTAL_FORMS');
        var formCount = parseInt(totalForms.value);

        const formHTML = `
            <div class="space-x-5 col-span-6 mb-4 flex justify-left" id="formset-form">
                <input type="text" name="form-${formCount}-choice_name" id="id_form-${formCount}-choice_name" placeholder="Choice name" class="rounded-md bg-gray-200" />
                <input type="checkbox" name="form-${formCount}-is_correct" id="id_form-${formCount}-is_correct" class="rounded-md bg-gray-200 border" />
                <button class="bg-red-500 rounded-full text-white font-normal text-base text-center w-[100px] place-self-center" style="cursor: pointer; background-color: rgb(233, 111, 111); color: white;" onclick="removeForm(this)">Clear</button>
            </div>
            `;

        document.getElementById('addChoice').insertAdjacentHTML('beforebegin', formHTML);

        totalForms.value = formCount + 1;
    });

    function removeForm(button) {
    const form = button.closest('#formset-form');
    
    if (form) {
        form.remove();
         
        const totalForms = document.getElementById('id_form-TOTAL_FORMS');
        totalForms.value = parseInt(totalForms.value) - 1;
    }
}

</script>
{% endblock %}