{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-20 mt-10 grid place-items-center">
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6 grid place-items-center w-[90%]" id="questionContainer">
        <label class="block text-gray-700 font-semibold mr-2 w-full text-center mb-10">(Context Answer)</label>
        <div class="bg-white rounded-lg p-6 w-[75%] mb-10" id="question_form">

            <form method="post" action="{% url 'add_context_question' quiz.id %}" id="question-form">
                {% csrf_token %}
                <div class="mb-4 flex justify-left">
                    <label class="block text-gray-700 text-2xl mr-2 w-[20%] text-center">Question</label>
                    {{ questionform.question_name }}
                </div>

                <div class="mb-4 flex justify-left">
                    <label class="block text-gray-700 font-semibold mr-2 w-[20%] text-center">Point</label>
                    {{ questionform.point }}
                    <select style="display:none;" name="question_type" required="" id="id_question_type">
                        <option value="Choice" style="display:none;">Choice</option>
                        <option value="Text" style="display:none;" selected>Text</option>
                      
                      </select>
                </div>
            </div>
            <div class="mb-4 flex justify-center w-full">
                <button class="grid place-items-center bg-red-500 w-[5%] rounded-full" style="color: white;"type="submit">Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
