{% extends 'base.html' %}
{% load static tailwind_tags %}
<!-- ต้องใช้ข้อมูลด้วยว่าเป็น topic ของคอร์สอะไร เพื่อให้ เพิ่ม topic นั้นเข้าคอร์สได้ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block name %} Create Topic {% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="font-body">  
    {% block content %}
    <div class="grid grid-cols-1 gap-8 my-8">

        <p class="text-center text-4xl text-black font-semibold" id="title"> สร้างหัวข้อ </p>

        <div class="rounded-md bg-[#F4F4F4] w-[1141px] p-8 place-self-center font-medium grid grid-cols-1">
            <div class="rounded-md bg-white m-8 p-8 text-xl">
                <div id="input-name" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                    <label for="nameCourse"> <h6> ชื่อหัวข้อ </h6> </label>
                    <input type="text" id="name" name="Name" class="bg-[#F4F4F4] col-span-3 rounded-full text-base py-2 px-4">
                </div>
                <div id="input-description" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                    <label for="descriptionCourse"> <h6> รายละเอียด </h6> </label>
                    <textarea name="Description" id="description" cols="30" rows="5" class="bg-[#F4F4F4] col-span-3 rounded-lg text-base py-2 px-4"></textarea>
                </div>
                <div id="input-profile" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                    <label for="document-topic"> <h6> เอกสาร </h6> </label>

                    <div class="bg-[#F4F4F4] col-span-3 rounded-full p-1 flex space-x-4" id="document">
                        
                        <input id="upload-document" onchange="addfile()" type="file" class="rounded-full hidden">
                        <label for="upload-document" id="add-document" class="flex justify-center flex-none">
                            <img src="../image/circle-plus.svg" alt="">
                        </label>
                    </div>

                </div>
            </div>

            <div class="grid grid-cols-1" id="contain-button">
            <div onclick="createTopic()" class="bg-primary rounded-full text-white font-normal text-base text-center w-[195px] place-self-center px-3 py-2">
                สร้างหัวข้อ
            </div>
            
            </div>

        </div>
    </div>
    {% endblock %}
</body>
<!-- <script>
    let CourseID =
    let ListDocument = {}
</script>
<script>
function addfile(){
    
    check_file = document.getElementById('upload-document').files[0]

    if(check_file === null || check_file === undefined){

        return ''
    }else{

        if(ListDocument.hasOwnProperty(`${check_file.name}`)){
            return ''
        }
        
        if(!OnUploadDocumentCheck(check_file.name)){
                return ''
            }
            console.log('File is')
            console.log(check_file)
            console.log(ListDocument)
        ListDocument[`${check_file.name}`] = check_file
        
    }

    
    let contain = document.getElementById('document')

    let show_file = document.createElement('label')
    let param = document.createElement('p')
    let img = document.createElement('img')

    show_file.classList.add('document', "truncate", "flex", "rounded-full", "bg-[#FFDADA]", "py-1", "px-3", "w-[150px]")
    show_file.setAttribute('who', `${check_file.name}`)

    param.textContent = check_file.name
    param.classList.add("text-sm", "text-center",  "flex-grow", "font-normal", "truncate")

    img.setAttribute('src', '../image/close.svg')
    img.setAttribute('onclick', `deleteFile(this)`)
    img.classList.add('flex-none')

    show_file.appendChild(param)
    show_file.appendChild(img)

    contain.insertBefore(show_file, document.getElementById(`upload-document`) )

    console.log(ListDocument)
    
}

function deleteFile(element){
    let target = element.parentElement
    delete ListDocument[`${target.textContent}`]
    target.remove()
}

// check file type

function OnUploadDocumentCheck(file){

    var extall="doc,docx,odt,pdf,tex,txt,rtf,wps,wks,wpd";

    ext = file.split('.').pop().toLowerCase();

    if(parseInt(extall.indexOf(ext)) < 0){
        alert('Extension support : ' + extall);
        return false;
    }

    return true;
}

</script>
<script>
function createTopic(){
//newname
    
    let formData = new FormData()
    let number = 0
    let keys = Object.keys(ListDocument)
    keys.forEach(item=>{
        formData.append( `file${number}` , ListDocument[item])
        number++
    })
    
    console.log(formData.get('file0'))

    formData.append('name', document.getElementById('name').value)
    formData.append('description', document.getElementById('description').value)
    formData.append('count', number)
    formData.append('CourseID', CourseID)
    

    fetch('../server/web_server.php', {
        method: 'POST',
        body: formData,
        headers :{
            'Service' : 'Upload File'
        }
    })
    .then(response => {
        console.log(response)
        return response.text()
    }).then(data => {
        console.log(data)
        window.location.href = `../tobe/show_selected_course_teacher.php?cID=${CourseID}`
    })

}

</script> -->
</html>

