{% extends 'base.html' %}
{% load static tailwind_tags %}
<!-- ต้องใช้ข้อมูลด้วยว่าเป็น topic ของคอร์สอะไร เพื่อให้ เพิ่ม topic นั้นเข้าคอร์สได้ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block name %} Create Topic {% endblock %}</title>
    {% tailwind_css %}
</head>

<body class="font-body">
    {% block content %}
    <div class="grid grid-cols-1 gap-8 my-8">

        <p class="text-center text-4xl text-black font-semibold" id="title"> สร้างหัวข้อ </p>

        <div class="rounded-md bg-[#F4F4F4] w-[1141px] p-8 place-self-center font-medium grid grid-cols-1">
            <div class="rounded-md bg-white m-8 p-8 text-xl">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="input-name" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="nameCourse">
                            <h6> ชื่อหัวข้อ </h6>
                        </label>
                        <!-- <input type="text" id="name" name="Name" class="bg-[#F4F4F4] col-span-3 rounded-full text-base py-2 px-4"> -->
                        {{form.content_name}}

                    </div>
                    <div id="input-description" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="descriptionCourse">
                            <h6> รายละเอียด </h6>
                        </label>
                        <!-- <textarea name="Description" id="description" cols="30" rows="5" class="bg-[#F4F4F4] col-span-3 rounded-lg text-base py-2 px-4"></textarea> -->
                        {{form.description}}
                    </div>
                    <div id="input-description" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="descriptionCourse">
                            <h6> Link วิดีโอ </h6>
                        </label>
                        <div id="inputvideo-container">
                            <button onclick="addvideoinput()" type="button">+ เพิ่มวิดีโอ</button>
                            <script>
                                function addvideoinput() {
                                    const div_container = document.getElementById('inputvideo-container')
                                    const inputVideoField = document.createElement("input")
                                    inputVideoField.classList.add('bg-[#F4F4F4]', 'col-span-3', 'rounded-full', 'text-base', 'py-2', 'px-4', 'mt-6')
                                    inputVideoField.name = "video_url"
                                    div_container.appendChild(inputVideoField)
                                }
                            </script>
                        </div>


                    </div>
                    <div id="input-profile" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="document-topic">
                            <h6> เอกสาร </h6>
                        </label>
                        <!-- <input type="text"> -->
                        <div id="inputfile-container">
                            <button onclick="addfileinput()" type="button">+ เพิ่มไฟล์</button>
                            <script>
                                function addfileinput() {
                                    const div_container = document.getElementById('inputfile-container')
                                    const inputFileField = document.createElement("input")
                                    inputFileField.type = "file"
                                    inputFileField.classList.add('mt-6')
                                    inputFileField.name = "file_path"
                                    div_container.appendChild(inputFileField)
                                }
                            </script>
                        </div>
                    </div>

                        <div class="flex justify-center">
                            <button class="register bg-[#D9272E] text-white px-6 py-3 mt-12 rounded-full w-[200px] mt-12"
                                type="submit">สร้างหัวข้อ</button>
                        </div>
                    
                </form>
            </div>
        </div>
        {% endblock %}
</body>

</html>