{% extends 'base.html' %}
{% load static tailwind_tags %}
<!-- ต้องใช้ข้อมูลด้วยว่าเป็น topic ของคอร์สอะไร เพื่อให้ เพิ่ม topic นั้นเข้าคอร์สได้ -->
{% block name %} Create Topic {% endblock %}
{% tailwind_css %}
<body class="font-body">
    {% block content %}
    <div class="grid grid-cols-1 gap-8 my-8">
        <div class="grid grid-cols-10 gap-8 my-8">
            <div class="flex justify-start col-start-2 col-end-4 ">
                <button class="register bg-[#D9272E] text-white px-6 py-3 mr-8 rounded-full w-[200px]">
                    <a href="{% url 'Course_Detail' course.id %}">กลับหน้าคอร์ส</a>
                </button>
            </div>
        
            <p class="text-end text-4xl text-black font-semibold col-start-4 col-end-7" id="title">แก้ไขเนื้อหาเรียน</p>
        
            <div class="flex justify-end col-start-8 col-end-10">
                <button class="register bg-[#D9272E] text-white px-6 py-3 rounded-full w-[200px]">
                    <a href="{% url 'delete_topic' contents.id %}">ลบเนื้อหา</a>
                </button>
            </div>
        </div>
        
        <div class="rounded-md bg-[#F4F4F4] w-[1141px] p-8 place-self-center font-medium">
            <div class="rounded-md bg-white m-8 p-8 text-xl">
                <form action="" method="post" enctype="multipart/form-data" id="edit_content_form">
                    {% csrf_token %}
                    <div id="input-name" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="nameCourse">
                            <h6> ชื่อเนื้อหา </h6>
                        </label>
                        {{form.content_name}}

                    </div>
                    <div id="input-description" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="descriptionCourse">
                            <h6> รายละเอียด </h6>
                        </label>
                        {{form.description}}
                    </div>
                    <div id="input-description" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="descriptionCourse">
                            <h6> Link วิดีโอ </h6>
                        </label>
                        <div id="inputvideo-container">
                            <button onclick="addvideoinput()" type="button">+ เพิ่มวิดีโอ</button>
                        </div>


                    </div>
                    <div id="input-profile" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="document-topic">
                            <h6> เอกสาร </h6>
                        </label>

                        <div id="inputfile-container">
                            <button onclick="addfileinput()" type="button">+ เพิ่มไฟล์</button>
                        </div>
                    </div>


                    <div class="col-span-2">
                        <h6>เอกสารปัจจุบัน</h6>
                        <div class="grid grid-cols-2 gap-6 mt-4">
                            {% for material in materials %}
                            {% if material.file_path != '' %}
                            <div class="flex items-center justify-between p-6 bg-[#F4F4F4] rounded-md"
                                id="file_material_container_{{ material.id }}">
                                <div class="overflow-hidden truncate">
                                <a class="underline" href="{{material.file_path.url}}"
                                    target="_blank">{{material.file_path}}</a>
                                </div>
                                {{form.del_file_path}}
                                <button type="button"
                                    class="bg-[#D9272E] hover:bg-red-600 text-white font-medium py-1 px-4 rounded-md"
                                    onclick="remove_file('{{material.id}}')" id="{{material.id}}" name="del_material"
                                    value="{{material.id}}">ลบ</button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-span-2">
                        <h6>วิดีโอปัจจุบัน</h6>
                        <div class="grid grid-cols-2 gap-6 mt-4">
                            {% for material in materials %}
                            {% if material.video_url != '' %}
                            <div class="flex items-center justify-between p-6 bg-[#F4F4F4] rounded-md"
                                id="video_material_container_{{ material.id }}">
                                <div class="overflow-hidden truncate">
                                    <a class="underline" href="{{ material.video_url }}" download>
                                        {{material.video_url}}</a>
                                </div>
                                {{form.del_video}}
                                <button type="button"
                                class="bg-[#D9272E] hover:bg-red-600 text-white font-medium py-1 px-4 rounded-md"
                                onclick="remove_video('{{material.id}}')" id="{{material.id}}" name="del_material"
                                value="{{material.id}}">ลบ</button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="flex justify-center">
                        <button class="register bg-[#D9272E] text-white px-6 py-3 mt-12 rounded-full w-[200px] mt-12"
                            type="submit" onclick="submitform()">เเก้ไขเนื้อหา</button>
                    </div>


                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                         <p class="text-[#D9272E]">- {{ error|escape }} </p> <br>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="text-[#D9272E]">  - {{ error|escape }} </p> <br>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>

        {% endblock %}
</body>

{% block script %}
<script>
    let del_file_list = []
    let del_video_list = []

    function remove_file(material_id) {
        del_file_list.push(material_id)
        console.log(del_file_list)
        const t_div = document.getElementById('file_material_container_' + material_id)
        t_div.style.display = 'none';
    }

    function remove_video(material_id) {
        del_video_list.push(material_id)
        console.log(del_video_list)
        const t_div = document.getElementById('video_material_container_' + material_id)
        t_div.style.display = 'none';
    }

    function addfileinput() {
        const div_container = document.getElementById('inputfile-container')
        const inputFileField = document.createElement("input")
        inputFileField.type = "file"
        inputFileField.classList.add('mt-6')
        inputFileField.name = "file_path"
        div_container.appendChild(inputFileField)
    }

    function addvideoinput() {
        const div_container = document.getElementById('inputvideo-container')
        const inputVideoField = document.createElement("input")
        inputVideoField.classList.add('bg-[#F4F4F4]', 'col-span-3', 'rounded-full', 'text-base', 'py-2', 'px-4', 'mt-6')
        inputVideoField.name = "video_url"
        div_container.appendChild(inputVideoField)
    }

    function submitform() {
        document.getElementById('del_video').value = del_video_list
        document.getElementById('del_file_path').value = del_file_list
        document.getElementById('edit_content_form').submit();
    }
</script>
{% endblock %}



