{% extends 'base.html' %}
{% load static tailwind_tags %}
<!-- ต้องใช้ข้อมูลด้วยว่าใครเป็นคนสร้างคอร์สเพื่อให้คนๆนั้นเป็น Owner -->


<title>{% block name %} Create Course {% endblock %}</title>
{% tailwind_css %}
</head>

<body class="font-body">
    {% block content %}
    <div class="grid grid-cols-1 gap-8 relative">
        <div class="grid grid-cols-10 gap-8 my-8">

            <div class="flex justify-start col-start-1  col-end-3 pl-8">
                <button class="register bg-[#D9272E] text-white px-6 py-3  mr-8 rounded-full w-[200px] " ><a
                        href="{% url 'Course_Detail' course.id %}">กลับหน้าคอร์ส</a></button>
            </div>
            <p class="text-center text-4xl text-black font-semibold col-start-4 col-end-8">แก้ไขคอร์ส</p>
            <div class="flex col-start-8 col-end-10 ">
                <button class="register bg-[#D9272E] text-white px-6 py-3  mr-8 rounded-full w-[200px] "  onclick="return confirm('ยืนยันการลบคอร์ส');"><a
                        href="{% url 'delete_course' course.id %}">ลบคอร์ส</a></button>
            </div>
        </div>


        <div class="rounded-md bg-[#F4F4F4] w-[1141px] p-8 place-self-center font-medium grid grid-cols-1 mb-4">
            <form method="post" enctype="multipart/form-data" id="edit_course_form">
                {%csrf_token%}
                <div class="rounded-md bg-white m-8 p-8 text-xl">
                    <div id="input-name" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="nameCourse">
                            <h6> ชื่อคอร์ส </h6>
                        </label>
                        {{form.course_name}}
                    </div>
                    <div id="input-description" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="descriptionCourse">
                            <h6> รายละเอียดคอร์ส </h6>
                        </label>
                        {{form.course_description}}
                    </div>
                    <div id="input-profile" class="grid grid-cols-4 gap-2 place-content-center my-[1rem]">
                        <label for="profileCourse">
                            <h6> รูปหน้าปกคอร์ส </h6>
                        </label>

                        <div class="col-span-2">
                            {{form.course_image}}
                        </div>
                    </div>



                    <div class="col-span-2">
                        <h6>อาจารย์ผู้สอนที่มีอยู่</h6>
                        <div class="grid grid-cols-2 gap-6 mt-4">
                            {% for teacher in teachers %}
                            <div class="flex items-center justify-between p-6 bg-[#F4F4F4] rounded-md"
                                id="teacher_container_{{ teacher.id }}">
                                <p class=" text-lg">{{ teacher.first_name }} {{ teacher.last_name }}</p>
                                {{form.del_instructors}}
                                <button type="button"
                                    class="bg-[#D9272E] hover:bg-red-600 text-white font-medium py-1 px-4 rounded-md"
                                    onclick="remove_teacher('{{teacher.id}}')" id="{{teacher.id}}"
                                    name="del_instructors" value="{{teacher.id}}">ลบ</button>

                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <br>
                    <div class="bg-white col-span-3 rounded-full p-1 flex space-x-4" id="addteacher_container">
                        <button onclick="add_teacher({{all_teacher}})" type="button">+ เพิ่มอาจารย์ผู้สอน</button>
                        <label id="add-teacher" class="flex justify-center flex-none">

                        </label>
                    </div>
                    <br>
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                         <p class="text-[#D9272E]">- {{ error|escape }} </p> <br>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="text-[#D9272E]">  - {{ error|escape }} </p> <br>
                    {% endfor %}
                    {% endif %}
                </div>
        </div>

        <div class="flex items-center justify-center">
            <button class="register bg-[#D9272E] text-white px-6 py-3 mt-5 rounded-full w-[200px]" type="submit"
                onclick="submitform()">เเก้ไขคอร์ส</button>
        </div>
        </form>
    </div>
    {% endblock%}
</body>

{% block script %}
<script>
    function add_teacher(teacher_list) {
        const div_container = document.getElementById('addteacher_container')
        const inputTeacherField = document.createElement("select")
        inputTeacherField.name = 'add_instructors'
        console.log(teacher_list)
        for (let teacher = 0; teacher < teacher_list.length; teacher++) {
            var option = document.createElement("option");
            option.value = teacher_list[teacher].id
            option.text = teacher_list[teacher].username
            inputTeacherField.add(option)
        }
        div_container.appendChild(inputTeacherField)
    }

    let teacher_list = []

    function remove_teacher(teacherid) {
        teacher_list.push(teacherid)
        console.log(teacher_list)
        const t_div = document.getElementById('teacher_container_' + teacherid)
        t_div.style.display = 'none';
    }

    function submitform() {
        document.getElementById('del_instructors').value = teacher_list
        document.getElementById('edit_course_form').submit();
    }
</script>
{% endblock %}

</html>