{% extends 'base.html' %}
{% load static %}
{% block name %} Teacher Quiz {% endblock %}
{% block content %}
<div>
    <div class="grid place-content-center mt-8">
        <p class="text-5xl font-bold mb-8">{{ quiz.quiz_name }} question list</p>
    </div>
</div>
<div class="mx-12 mt-10">
    <div class="flex justify-left">
        <select name="" id="questionType" class="px-16">
            <option value="" selected>Select Question Type</option>
            <option value="context">Context Answer Question</option>
            <option value="choice">Choice Answer Question</option>
        </select>
        <a id="addQuestionLink" href="#" class="grid place-items-center">
            <button class="ring-1 ring-red-600 bg-red-600 text-white px-6 py-2 ">+ Add Question</button>
        </a>

    </div>
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6">
        {% if question %}
            {% for quest in question %}
            <a href="#">
                <div class="bg-white rounded-xl grid grid-cols-6 py-6 pl-6 pr-4 hover:bg-gray-300 mb-4">
                    <p class="text-xl col-span-2 font-bold">Question : {{ quest.question_name }}</p>
                    <p class="text-xl col-span-3 font-bold">Point : {{ quest.point }}</p>
                    <p class="text-xl col-span-1 text-right font-bold">Type : {{ quest.question_type }}</p>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <p class="text-center text-gray-500">No questions available.</p>
        {% endif %}
    </div>
    
</div>

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectElement = document.getElementById('questionType');
        const linkElement = document.getElementById('addQuestionLink');

        selectElement.addEventListener('change', function() {
            const selectedValue = selectElement.value;
            let url = '';

            if (selectedValue === 'context') {
                url = "{% url 'add_context_question' quiz.id %}";
            } else if (selectedValue === 'choice') {
                url = "{% url 'add_choice_question' quiz.id %}";
            } else {
                url = '#';
            }

            linkElement.href = url;
        });
    });
</script>

{% endblock %}