{% extends 'base.html' %}
{% load static %}
{% block name %} Teacher Quiz {% endblock %}
{% block content %}
<br>
<button class="ml-8 register bg-[#D9272E] text-white px-6 py-3  mr-8 rounded-full w-[200px] "><a href="{% url 'Course_Detail' course.id %}">กลับหน้าคอร์ส</a></button>
<div>
    <div class="grid place-content-center mt-8">
        <p class="text-5xl font-bold">{{ course.course_name }} QUIZ</p>
        <br>
    </div>
</div>
<div class="mx-12 mt-10">
    {% if perms.offlearn.add_quiz %}
    <div class="flex justify-center">
        <a href="{% url 'create_quiz' course.id %}">
            <button class="rounded-full ring-1 ring-red-600 bg-red-600 text-white px-8 py-4 hover:bg-red-700">สร้าง Quiz</button>
        </a>
    </div>
    {% endif %}
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6">
        <!-- Quiz 1 -->
        {% if quiz %}
        {% for q in quiz %}
        {% if not perms.offlearn.change_question and not perms.offlearn.change_quiz and not perms.offlearn.delete_quiz and not perms.offlearn.add_quizscore %}
        <a href="{% url 'student_quiz' q.id %}">
        <div class="bg-white rounded-xl grid grid-cols-5 py-6 pl-6 pr-4 mb-4">
            <p class="text-xl col-span-2 font-bold">{{ q.quiz_name }}</p>
            <p class="text-xl col-span-2 font-bold">Due Date<br> {{ q.deadline }}</p>

        {% else %}
        <div class="bg-white rounded-xl grid grid-cols-4 py-6 pl-6 pr-4 mb-4">
            <p class="text-xl col-span-2 font-bold">{{ q.quiz_name }}</p>
            <p class="text-xl col-span-2 font-bold">Due Date<br> {{ q.deadline }}</p>
        {% endif %}
                <p class="text-xl col-span-1 text-right font-bold">Score : {{ q.max_point }}</p>
                
                {% if perms.offlearn.change_question and perms.offlearn.change_quiz and perms.offlearn.delete_quiz and perms.offlearn.add_quizscore %}
                    <div class="col-span-6 flex justify-end gap-4 mt-4">
                        <a href="{% url 'question_list' q.id %}" class="md-10">
                            <div class="bg-blue-300 text-center px-4 py-2 rounded hover:bg-blue-400">Question List</div>
                        </a>
                        <a href="{% url 'teacher_quiz_student_list' q.id %}" class="md-10">
                            <div class="bg-blue-300 text-center px-4 py-2 rounded hover:bg-blue-400">Check Student Answer</div>
                        </a>
                        <a href="{% url 'edit_quiz' q.id %}" class="md-10">
                            <div class="bg-yellow-400 text-center px-4 py-2 rounded hover:bg-yellow-600">Edit</div>
                        </a>
                        <form action="{% url 'delete_quiz' q.id %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this quiz?');">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="md-10">
                                <div class="bg-red-500 text-center px-4 py-2 rounded text-white hover:bg-red-600">Delete</div>
                            </button>
                        </form>
                        </div>
                        {% endif %}
                    </div>
            </a>    
        {% endfor %}
        {% else %}
        <p class="text-center text-gray-500">No quiz available.</p>
        {% endif %}

    </div>
</div>

{% endblock %}