{% extends 'base.html' %}
{% load static %}
{% block name %} Register {% endblock %}

{% block content %}

<body class="font-body">
    <div class="flex flex-col items-center justify-center m-5">
        <div class="head">
            <h1 class="text-center text-5xl p-5 font-semibold">สมัครสมาชิก</h1>
        </div>

        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="bg-[#F4F4F4] p-10 rounded-3xl shadow-md">
                <div class="flex flex-col bg-white rounded-3xl p-5">
                    <div id="input-firstname" class="grid grid-cols-4 m-3">
                        <label for="name" class="font-semibold text-xl">ชื่อ</label>
                        {{form.first_name}}
                    </div>

                    <div id="input-lastname" class="grid grid-cols-4 m-3">
                        <label for="lastname" class="font-semibold text-xl">นามสกุล</label>
                        {{form.last_name}}
                    </div>

                    <div id="input-firstname" class="grid grid-cols-4 m-3">
                        <label for="name" class="font-semibold text-xl">ชื่อผู้ใช้</label>
                        {{form.username}}
                    </div>

                    <div id="input-email" class="grid grid-cols-4 m-3">
                        <label for="lastname" class="font-semibold text-xl">อีเมลล์</label>
                        {{form.email}}
                    </div>

                    <div id="input-password" class="grid grid-cols-4 m-3">
                        <label for="password" class="font-semibold text-xl">รหัสผ่าน</label>
                        {{form.password1}}
                    </div>

                    <div id="input-confirm" class="grid grid-cols-4 m-3">
                        <label for="confirm" class="font-semibold text-xl">ยืนยันรหัสผ่าน</label>
                        {{form.password2}}
                    </div>

                    <!-- uploadfile -->
                    <div id="input-profile" class="grid grid-cols-4 m-3">
                        <label for="profileCourse" class="font-semibold text-xl">รูปภาพ</label>
                        <div class="col-span-3 flex space-x-4">
                            {{form.profile_image}}
    
                        </div>
                    </div>

                </div>
                <div class="flex items-center justify-center">
                    <button class="register bg-[#D9272E] text-white px-6 py-3 mt-5 rounded-full w-[200px]"
                        type="submit">สมัครสมาชิก</button>
                </div>


                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error|escape }} <br>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    {{ error|escape }} <br>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    </div>
</body>

{% endblock %}