{% extends 'base.html' %}
{% load static %}
{% block name %} Course_Detail {% endblock %}
{% block content %}


<div id="header"></div>
<div class="grid gap-y-10 grid-cols-1 mt-12">

    <!-- section one -->
    <div class="grid gap-y-12 gap-x-12 grid-cols-2  place-self-center">

        <!-- img -->
        <div class="h-[100%] p-8 ">
            <img class="rounded-lg aspect-[16/9]" src="{{course.course_image.url}}">
        </div>

        <!-- name & details -->
        <div>
            <div class="grid-cols-2 grid gap-y-12 gap-x-12">
                <div>
                    <p class="text-5xl">{{course.course_name}}</p>
                </div>
                {% if perms.offlearn.quit_course %}
                <div class="pl-72 ">
                    <button class="rounded-xl ring-1 ring-gray-500 bg-white text-black bg-white text-black  px-8 py-4"> <a href="{% url 'quit' course.id %}">ออกคอร์ส</a></button>
                </div>
                {% endif %}

                {% if perms.offlearn.change_course %}
                <div class="pl-72 ">
                    <button class="rounded-xl ring-1 ring-red-600 bg-red-600 text-white  px-8 py-4"
                    ><a href="{% url 'edit_course' course.id  %}">แก้ไขคอร์ส</a></button>
                </div>
                {% endif %}
  
            </div>
            <br>
            <div class="grid grid-cols-3">
                <div class=" col-span-2 text-center rounded-3xl shadow-md p-2 bg-rose-200">
                    Course ID: {{course.id}}
                </div>

            </div>
            <br>
            <div>
                <p>
                    {{course.course_description}}
                </p>
            </div>
            <br>

            <div>
                <a href="{% url 'teacher_quiz' course.id %}">
                    <button class="rounded-xl ring-1 ring-gray-500 bg-whitetext-black px-16 py-4" onclick="">QUIZ</button>
                </a>
                {% if perms.offlearn.view_student %}
                <button class="rounded-xl ring-1 ring-gray-500 bg-whitetext-black px-16 py-4 "><a href="{% url 'student_list' course.id %}">นักเรียนในคอร์สเรียน</a></button>
                {% endif %}
            </div>

        </div>
    </div>
    {% for content in contents %}
    <div class="bg-slate-200 rounded-xl shadow-md my-8 mx-8 p-8 place-self-center w-full">
        
        <div class="bg-white rounded-xl p-10">
            <div class="pb-6">
                <p class="text-3xl pb-2"><b>{{content.content_name}}</b></p>
                <p>
                    {{content.description}}
                </p><br>

                {% for mat in content.material_set.all %}
                {% if mat.video_url != "" %}
                    <iframe width="560" height="315" src="{{mat.video_url}}" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="pt-12"></iframe>
                {% endif %}
                {% if mat.file_path != "" %}
                <a class="underline" href="{{mat.file_path.url}}" target="_blank">{{mat.file_path}}</a>
                {% endif %}
                <br>
                {% endfor %}
            </div>
           


            {% if perms.offlearn.change_course %}
            <!-- btn -->
            <div class="grid justify-items-center grid-cols-1">
                <div>

                    <button
                        class="rounded-full ring-1 ring-red-600 bg-red-600 text-white px-8 py-2"><a href="{% url 'edit_topic' content.id %}">เเก้ไขเนื้อหา</a></button>
                </div>
            </div>
            {% endif %}
        </div><br>
    </div>
    {% endfor %}
    <!-- perms -->
    {% if perms.offlearn.change_course %}
    <div class="grid justify-items-center grid-cols-1">
        <button class="rounded-xl ring-1 ring-red-600 bg-red-600 text-white px-8 py-4"><a href="{% url 'create_topic' course.id %}">เพิ่มเนื้อหาใหม่</a></button>
        <br>
    </div>
    <!-- perms -->
    {% endif %}

</div>


{% endblock %}