{% extends 'base.html' %}
{% load static %}
{% block name %} Teacher Quiz {% endblock %}
{% block content %}
<div>
    <div class="grid place-content-center mt-8">
        <p class="text-5xl font-bold">QUIZ</p>
    </div>
</div>
<div class="mx-12 mt-10">
    <div class="pt-4 bg-gray-200 rounded-xl mt-12 p-6">
        <!-- Quiz 1 -->
        <a href="#">
            <div class="bg-white rounded-xl grid grid-cols-6 py-6 pl-6 pr-4 hover:bg-gray-300 mb-4">
                <p class="text-xl col-span-2 font-bold">ชื่อ QUIZ</p>
                <p class="text-xl col-span-3 font-bold">กำหนดส่ง --/--/--</p>
                <p class="text-xl col-span-1 text-right font-bold text-red-600">ยังไม่ตรวจ</p>
            </div>
        </a>
        <!-- Quiz 2 -->
        <a href="#">
            <div class="bg-white rounded-xl grid grid-cols-6 py-6 pl-6 pr-4 hover:bg-gray-300 mb-4">
                <p class="text-xl col-span-2 font-bold">ชื่อ QUIZ</p>
                <p class="text-xl col-span-3 font-bold">กำหนดส่ง --/--/--</p>
                <p class="text-xl col-span-1 text-right font-bold text-green-600">ตรวจเเล้ว 15/20</p>
            </div>
        </a>

        <a href="#">
            <div class="bg-white rounded-xl grid grid-cols-6 py-6 pl-6 pr-4 hover:bg-gray-300 mb-4">
                <p class="text-xl col-span-2 font-bold">ชื่อ QUIZ</p>
                <p class="text-xl col-span-3 font-bold">กำหนดส่ง --/--/--</p>
                <p class="text-xl col-span-1 text-right font-bold text-green-600">ตรวจเเล้ว 18/20</p>
            </div>
        </a>

    </div>
</div>

{% endblock %}