{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-20 mt-10 grid place-items-center">
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6 grid place-items-center w-[90%]" id="questionContainer">
        <label class="block text-gray-700 font-semibold mr-2 w-full text-center mb-10">{{ quiz.quiz_name }}</label>

            {% if student_answer %}
                {% if student_answer.score %}
                <p class="text-center text-black-500">Your Score is {{ student_answer.score.score }} / {{quiz.max_point}} </p>
                {% else %}
                <p class="text-center text-black-500">Your Score is -- / {{quiz.max_point}} (Not grading) </p>
                {% endif %}
            {% else %}
            {% if question %}
            <form method="post" class="w-full" action="{% url 'student_quiz' quiz.id %}" id="question-form">
                {% csrf_token %}
                {% for quest in question %}
                    <div class="bg-white rounded-lg p-6 w-full mb-10 grid place-items-left" id="question_form">
                        <label class="block text-gray-700 text-2xl mr-2 w-[20%] text-left">{{ forloop.counter }}. {{ quest.question_name }} <p style="font-size: small;">({{ quest.point }} score)</p></label>
                        {% if quest.question_type == 'Text' %}
                            <textarea class="bg-gray-200 rounded-md px-3 py-2 w-full" name="{{ quest.id }}" id="{{ forloop.counter }}_{{ quest.id }}"></textarea>
                        {% else %}
                            {% for ch in quest.choice_set.all %}
                            <div class="flex items-center mb-2">
                                <input type="radio" name="{{ quest.id }}" value="{{ ch.id }}" id="{{ forloop.counter }}_{{ quest.id }}" class="mr-2">
                                <label for="{{ forloop.counter }}_{{ quest.id }}" class="text-gray-700">{{ ch.choice_name }}</label>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="mb-4 flex justify-center w-full">
                    <button class="grid place-items-center bg-red-500 w-[5%] rounded-full" style="color: white;"
                        type="submit">Submit</button>
                </div>
            {% else %}
                <p class="text-center text-gray-500">No questions available.</p>
            {% endif %}
            {% endif %}
            

    </div>
</div>
</form>
{% endblock %}
