{% extends 'base.html' %}
{% load static %}
{% block name %} Sudent List {% endblock %}
{% block content %}

<div class="grid grid-cols-10 gap-8 my-8">

    <div class="flex justify-start col-start-1  col-end-3 pl-8">
        <button class="register bg-[#D9272E] text-white px-6 py-3  mr-8 rounded-full w-[200px] "><a
                href="{% url 'Course_Detail' course_id %}">กลับหน้าคอร์ส</a></button>
    </div>

    <p class="text-center text-4xl text-black font-semibold col-start-4 col-end-8">รายชื่อนักเรียน</p>

</div>


<div class="flex flex-col mx-10 mt-5">
    <div class=" overflow-x-auto">
        <div class="min-w-full inline-block align-middle">
            <div class="overflow-hidden border rounded-lg border-gray-300">
                <table class=" min-w-full rounded-xl">
                    <thead>
                        <tr class="bg-gray-50">
                            <th scope="col"
                                class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> ชื่อ
                            </th>
                            <th scope="col"
                                class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> นามสกุล
                            </th>
                            {% for i in quiz %}
                            <th scope="col"
                                class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize">{{i.quiz_name}}
                            </th>
                            {% endfor %}
                            <th scope="col"
                                class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> คะเเนนรวม
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr class="odd:bg-white even:bg-gray-50">
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900 ">
                                {{student.first_name }}</td>
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                {{student.last_name }}</td>
                            {% for i in quiz %}
                                {% if i.quizscore_set.first.student == student %}
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ i.quizscore_set.first.score }}</td>
                                {% else %}
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">None</td>
                                {% endif %}
                            {% endfor %}
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                {{student.total_score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}