{% extends 'base.html' %}
{% load static %}
{% block name %} Sudent List {% endblock %}
{% block content %}
<div class="grid place-content-center mt-8">
    <p class="text-5xl">รายชื่อนักเรียน</p>
</div>

<div class="flex flex-col mx-10 mt-5">
    <div class=" overflow-x-auto">
        <div class="min-w-full inline-block align-middle">
            <div class="overflow-hidden border rounded-lg border-gray-300">
                <table class=" min-w-full rounded-xl">
                    <thead>
                        <tr class="bg-gray-50">
                            <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> ชื่อ </th>
                            <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> นามสกุล </th>
                            <th scope="col" class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> คะเเนน </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr class="odd:bg-white even:bg-gray-50">
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900 ">{{student.first_name}}</td>
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> {{student.last_name}} </td>
                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 100</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   </div>

{% endblock %}