{% extends 'base.html' %}
{% load static %}
{% block name %} Student Quiz Detail {% endblock %}
{% block content %}
<div>
    <div class="grid place-content-center mt-8">
        <p class="text-5xl font-bold">Student Quiz Detail</p>
    </div>
</div>
<div class="mx-12 mt-10">
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6">

            <!-- box -->
            <div class="bg-white rounded-xl grid grid-cols-2 py-6 pl-6 pr-4 mb-4">
                <!-- question -->
                <p class="text-4xl col-span-6 font-bold mb-10">1. dfovkdpfvkdpvkdf</p>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
            </div>

            <!-- box -->
            <div class="bg-white rounded-xl grid grid-cols-2 py-6 pl-6 pr-4 mb-4">
                <!-- question -->
                <p class="text-4xl col-span-6 font-bold mb-10">2. dfovkdpfvkdpvkdf</p>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
                <!-- choice -->
                <div class="flex items-center space-x-5 col-span-6 mb-4">
                    <input name="input1" class="text-xl" type="radio">
                    <label for="input1" class="text-xl w-28 font-bold">kuykuy</label>
                </div>
            </div>

            <!-- box -->
            <div class="bg-white rounded-xl grid grid-cols-2 py-6 pl-6 pr-4 mb-4">
                <!-- question -->
                <p class="text-4xl col-span-6 font-bold mb-10">3. dfovkdpfvkdpvkdf</p>
                <!-- text input -->
                <div class="flex items-center space-x-10 col-span-6 mb-4">
                    <textarea name="input1" class="text-xl mb-4 rounded-xl w-full"></textarea>
                </div>
            </div>
            
        <div class="flex justify-center mt-6">
            <div onclick="" class="bg-red-500 rounded-full text-white font-normal text-base text-center w-[195px] px-3 py-2 hover:bg-gray-400">
                Submit
            </div>
        </div>
    </div>
</div>

{% endblock %}
