{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-20 mt-10 grid place-items-center">
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6 grid place-items-center w-[90%]" id="questionContainer">
        <label class="block text-gray-700 font-semibold mr-2 w-full text-center mb-10">{{ quiz.quiz_name }}</label>
        <form method="post" class="w-full" action="{% url 'teacher_add_studentscore' quiz.id student.id %}">
            {% csrf_token %}
            {% if student_answer %}
                {% for i in student_answer %}
                <div class="bg-white rounded-lg p-6 w-full mb-10 grid place-items-left" id="question_form">
                    <p>Question : {{ i.question.question_name }}</p> <br>
                    <p>Student Answer</p>
                    <p class="bg-gray-200 rounded-md px-3 py-2 w-[70%]">{{ i.text_answer }}</p> <br>
                    <label for="{{ i.id }}">Score ({{ i.question.point }})</label>
                    <input class="bg-gray-200 rounded-md px-3 py-2 w-[20%]" name="{{ i.id }}" id="{{ forloop.counter }}_{{ quest.id }}" type="number" max="{{ i.question.point }}">
                </div>
                {% endfor %}
            {% else %}
            <p>Click save to send a score.</p>
            {% endif %}
            <div class="grid place-items-center">
                <button class=" bg-red-500 w-[5%] rounded-full" style="color: white;" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}