{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-20 mt-10 grid place-items-center">
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6 grid place-items-center w-[90%]" id="questionContainer">
        <label class="block text-gray-700 font-semibold mr-2 w-full text-center mb-10">{{ quiz.quiz_name }}</label>
        <form method="post" class="w-full" action="{% url 'teacher_add_studentscore' quiz.id student.id %}"
            id="question-form">
            <div class="bg-white rounded-lg p-6 w-full mb-10 grid place-items-left" id="question_form">
                {% for i in student_answer %}
                {{ i.question.question_name }}
                <br>
                {{ i.text_answer }}
                {% endfor %}
            </div>
        </form>

{% endblock %}