{% extends 'base.html' %}
{% load static %}
{% block name %} Teacher Quiz {% endblock %}
{% block content %}
<div>
    <div class="grid place-content-center mt-8">
        <p class="text-5xl font-bold">{{ course.course_name }} QUIZ</p>
    </div>
</div>
<div class="mx-12 mt-10">
    <a href="{% url 'create_quiz' course.id %}">
        <button class="rounded-full ring-1 ring-red-600 bg-red-600 text-white px-8 py-4">สร้าง Quiz</button>
    </a>
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6">
        <!-- Quiz 1 -->
        {% for q in quiz %}
            <a href="{% url 'question_list' q.id %}">
                <div class="bg-white rounded-xl grid grid-cols-6 py-6 pl-6 pr-4 hover:bg-gray-300 mb-4">
                    <p class="text-xl col-span-2 font-bold">{{ q.quiz_name }}</p>
                    <p class="text-xl col-span-3 font-bold">Due Date<br> {{ q.deadline }}</p>
                    <p class="text-xl col-span-1 text-right font-bold">Score : {{ q.max_point }}</p>
                </div>
            </a>
        {% endfor %}

    </div>
</div>

{% endblock %}