{% extends 'base.html' %}
{% load static %}
{% block name %} Teacher Quiz {% endblock %}
{% block content %}
<br>
<button class="ml-8 register bg-[#D9272E] text-white px-6 py-3  mr-8 rounded-full w-[200px] justify-left"><a href="{% url 'teacher_quiz' quiz.course.id %}">กลับไปยังหน้า Quiz</a></button>
<div>
    <div class="grid place-content-center mt-8">
        <p class="text-5xl font-bold">{{ quiz.quiz_name }} Student Answer</p>
    </div>
</div>
<div class="mx-12 mt-10">
    {% if student_answer %}
        {% for stu in student_answer %}
        {% if not stu.score %}
        <a href="{% url 'teacher_add_studentscore' stu.quiz.id stu.student.id %}">
            <div class="bg-red-100 rounded-xl place-items-center grid grid-cols-5 py-6 pl-6 pr-4 hover:bg-gray-300 mb-4">
                <p class="text-xl col-span-1 font-bold w-full">ชื่อ : {{ stu.student.first_name }} {{ stu.student.last_name }}</p>
                {% if stu.submit_date > quiz.deadline %}
                <p class="text-xl col-span-2 font-bold" style="color: red;">ส่งเมื่อ : {{ stu.submit_date }} (ส่งเกินเวลา)</p>
                {% else %}
                <p class="text-xl col-span-2 font-bold" style="color: green;">ส่งเมื่อ : {{ stu.submit_date }}</p>
                {% endif %}
                <p class="text-xl col-span-1 font-bold">คะแนน : --/{{ quiz.max_point }}</p>
                <p class="text-xl col-span-1 text-right font-bold text-red-600">ยังไม่ตรวจ</p>
            </div>
        </a>
        {% else %}
        <a href="">
            <div class="bg-green-100 rounded-xl place-items-center grid grid-cols-5 py-6 pl-6 pr-4 hover:bg-gray-300 mb-4">
                <p class="text-xl col-span-1 font-bold w-full">ชื่อ : {{ stu.student.first_name }} {{ stu.student.last_name }}</p>
                {% if stu.submit_date > quiz.deadline %}
                <p class="text-xl col-span-2 font-bold" style="color: red;">ส่งเมื่อ : {{ stu.submit_date }} (ส่งเกินเวลา)</p>
                {% else %}
                <p class="text-xl col-span-2 font-bold" style="color: green;">ส่งเมื่อ : {{ stu.submit_date }}</p>
                {% endif %}
                <p class="text-xl col-span-1 font-bold">คะแนน : {{ stu.score.score   }} / {{ quiz.max_point }}</p>
                <p class="text-xl col-span-1 text-right font-bold text-green-600">ตรวจแล้ว</p>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    {% else %}
        <p class="flex justify-center">No one submmit the answer.</p>
    {% endif %}

    {% endblock %}