{% extends 'base.html' %}
{% load static %}
{% block name %} View Description {% endblock %}
{% block mycss %}


{% endblock %}



{% block content %}

<body class="font-body">

    <div class=" grid grid-cols-1  items-center my-8">
        <div class="flex justify-center place-self-center w-[50%]">
            <img class="img aspect-[16/9]" src="{{course.course_image.url}}">
        </div>


        <div class=" m-8 place-self-center w-[50%]">
            <h1 class="head text-3xl">
                ชื่อคอร์ส:
                {{course.course_name}}
            </h1>
            <div class="pt-8">
                <h1 class="text-xl">
                    คำอธิบาย:
                </h1>
                <h1 class="text-xl">
                    {{course.course_description}}
                </h1>
            </div>
            <div class="pt-8">
                <h1 class="text-xl">
                    อาจารย์ผู้สอน:
                </h1>
                <h1 class="text-xl">
                    {% for teacher in teacher %}
                        {{teacher.first_name}} {{teacher.last_name}}
                        <br><br>
                    {% endfor %}
                </h1>
            </div>
        </div>

        <div class="place-self-center">
            {% if perms.offlearn.enroll_course %}
            <button class="enroll bg-[#D9272E] text-white px-6 py-3 mt-3 rounded-full w-[200px]"><a
                    href="{% url 'enroll' course.id %}">เข้าคอร์ส</a></button>
            {% endif %}
        </div>
    </div>

</body>
{% endblock %}