{% extends 'base.html' %}
{% load static %}
{% block name %} View Description {% endblock %}
{% block mycss %}


{% endblock %}



{% block content %}
<body class="font-body">

    <div class=" grid grid-cols-1  items-center my-8">
        <div class="flex justify-center place-self-center w-[50%]">
            <img class="img aspect-[16/9]" src="{% static 'images/bg.jpg' %}" >
        </div>

        <div class=" m-8 place-self-center w-[50%]">
            <h1 class="head text-3xl">
                {{course.course_name}}
            </h1>
            <p>
                {{course.course_description}}
            </p>
        </div>

        <div class="place-self-center">

                <button class="enroll bg-[#D9272E] text-white px-6 py-3 mt-3 rounded-full w-[200px]"><a href="{% url 'enroll' course.id %}">เข้าคอร์ส</a></button>

        </div>
    </div>

</body>
{% endblock %}
