{% extends 'base.html' %}
{% load static %}
{% block name %} View Description {% endblock %}
{% block mycss %}


{% endblock %}



{% block content %}
<body class="font-body">

    <div class=" grid grid-cols-1  items-center my-8">
        <div class="flex justify-center place-self-center w-[50%]">
            <img class="img aspect-[16/9]" src="{% static 'images/bg.jpg' %}" >
        </div>

        <div class=" m-8 place-self-center w-[50%]">
            <h1 class="head text-3xl">
                CyberSecurity
            </h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, illo, repudiandae deserunt eius consectetur repellat commodi voluptas unde impedit tempora ea, placeat iusto iure quia doloribus praesentium itaque quae voluptates?
            </p>
        </div>

        <div class="place-self-center">

                <button class="enroll bg-[#D9272E] text-white px-6 py-3 mt-3 rounded-full w-[200px]" name="enroll" id="enroll" onclick="addCourse()">เข้าคอร์ส</button>
                <button class="enroll bg-[#D9272E] text-white px-6 py-3 mt-3 rounded-full w-[200px]" name="enroll" id="enroll" onclick="Register()">สมัคร</button>
   
        </div>
    </div>

</body>
{% endblock %}
