<div name="choice1" class="space-x-5 col-span-6 mb-4 flex justify-left" id="choicy">
    <!-- <input name="choice1" class="rounded-md bg-gray-200" type="text"> -->
    {{ choiceform.choice_name }}
    {{ choiceform.is_correct }}
    <button id="choice1" hx-on:click = "this.closest('#choicy').remove()" class="bg-red-500 rounded-full text-white font-normal text-base text-center w-[100px] place-self-center" style="cursor: pointer; background-color: rgb(233, 111, 111); color: white;">Clear</button>
</div>