{% extends 'base.html' %}
{% load static %}
{% block name %} Teacher Quiz {% endblock %}
{% block content %}
<div>
    <div class="grid place-content-center mt-8">
        <p class="text-5xl font-bold">Student Answer</p>
    </div>
</div>
<div class="mx-12 mt-10">
    <div class="pt-4 bg-gray-200 rounded-xl mt-4 p-6">
            <!-- Box -->
            <div class="bg-white rounded-xl grid grid-cols-6 py-6 pl-6 pr-4 mb-4">
                <p class="text-5xl col-span-2 font-bold mb-10">Question 1</p>
                <p class="text-xl col-span-6 font-bold">Student Answer</p>
                <div class="bg-gray-200 rounded-xl grid grid-cols-1 py-6 pl-6 pr-4 mb-4 col-span-5 break-words mb-8"></div>
                <div class="grid col-span-2 grid-cols-9">
                    <div class="text-xl col-span-2 font-bold grid-cols-9">Given Point</div>
                    <input class="text-xl col-span-0 w-28 font-bold bg-gray-200 rounded-xl border-none hover:bg-gray-300" type="number">
                </div>
            </div>
            <!-- Box -->
            <div class="bg-white rounded-xl grid grid-cols-6 py-6 pl-6 pr-4 mb-4">
                <p class="text-5xl col-span-2 font-bold mb-10">Question 2</p>
                <p class="text-xl col-span-6 font-bold">Student Answer</p>
                <div class="bg-gray-200 rounded-xl grid grid-cols-1 py-6 pl-6 pr-4 mb-4 col-span-5 break-words mb-8"></div>
                <div class="grid col-span-2 grid-cols-9">
                    <div class="text-xl col-span-2 font-bold grid-cols-9">Given Point</div>
                    <input class="text-xl col-span-0 w-28 font-bold bg-gray-200 rounded-xl border-none hover:bg-gray-300" type="number">
                </div>
            </div>
            
        <div class="flex justify-center mt-6">
            <div onclick="" class="bg-red-500 rounded-full text-white font-normal text-base text-center w-[195px] px-3 py-2 hover:bg-gray-400">
                Submit
            </div>
        </div>
    </div>
</div>

{% endblock %}
